<!-- CHANGE TO .erb -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css" type="text/css">
</head>

<body>
   
    <header class="header">

        <h1 class="tophead">Welcome to my webpage!</h1>



    </header>

    <div class="nav">
        <p class="nav1">"Home"</p>
        <p class="nav2">Misc</p>
        <p class="nav3">Contact</p>
        <p class="nav4"><%= link_to 'Alpha Blog', articles_path%> | <%= link_to 'About', about_path %></p>
    </div>

    <main class="content">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam consequuntur quisquam, illo totam iure sit
            error consectetur, molestias excepturi hic quaerat quidem expedita a sapiente saepe eveniet aut minima
            blanditiis?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, iusto? Eum rerum deserunt
            architecto laboriosam deleniti delectus possimus fugit quae consequatur. Dignissimos cumque modi eveniet
            assumenda corporis repellat. Explicabo, non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            exercitationem blanditiis assumenda rem, animi eius nostrum sed laborum inventore cumque? Voluptas suscipit
            nobis totam similique dignissimos reiciendis magnam qui animi. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe, quisquam esse, facilis maiores delectus ut ea, ipsum illum dicta alias tempora ad
            perspiciatis voluptatem aperiam cupiditate aspernatur nihil assumenda vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam consequuntur quisquam, illo totam iure sit
            error consectetur, molestias excepturi hic quaerat quidem expedita a sapiente saepe eveniet aut minima
            blanditiis?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, iusto? Eum rerum deserunt
            architecto laboriosam deleniti delectus possimus fugit quae consequatur. Dignissimos cumque modi eveniet
            assumenda corporis repellat. Explicabo, non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            exercitationem blanditiis assumenda rem, animi eius nostrum sed laborum inventore cumque? Voluptas suscipit
            nobis totam similique dignissimos reiciendis magnam qui animi. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe, quisquam esse, facilis maiores delectus ut ea, ipsum illum dicta alias tempora ad
            perspiciatis voluptatem aperiam cupiditate aspernatur nihil assumenda vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam consequuntur quisquam, illo totam iure sit
            error consectetur, molestias excepturi hic quaerat quidem expedita a sapiente saepe eveniet aut minima
            blanditiis?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, iusto? Eum rerum deserunt
            architecto laboriosam deleniti delectus possimus fugit quae consequatur. Dignissimos cumque modi eveniet
            assumenda corporis repellat. Explicabo, non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            exercitationem blanditiis assumenda rem, animi eius nostrum sed laborum inventore cumque? Voluptas suscipit
            nobis totam similique dignissimos reiciendis magnam qui animi. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe, quisquam esse, facilis maiores delectus ut ea, ipsum illum dicta alias tempora ad
            perspiciatis voluptatem aperiam cupiditate aspernatur nihil assumenda vitae!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam consequuntur quisquam, illo totam iure sit
            error consectetur, molestias excepturi hic quaerat quidem expedita a sapiente saepe eveniet aut minima
            blanditiis?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, iusto? Eum rerum deserunt
            architecto laboriosam deleniti delectus possimus fugit quae consequatur. Dignissimos cumque modi eveniet
            assumenda corporis repellat. Explicabo, non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            exercitationem blanditiis assumenda rem, animi eius nostrum sed laborum inventore cumque? Voluptas suscipit
            nobis totam similique dignissimos reiciendis magnam qui animi. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe, quisquam esse, facilis maiores delectus ut ea, ipsum illum dicta alias tempora ad
            perspiciatis voluptatem aperiam cupiditate aspernatur nihil assumenda vitae!</p>





    </main>

    <footer class="footer">
        <h2 class="footercenter">This is the footer</h2>


    </footer>



    <!-- <script src="" async defer></script> -->
</body>

</html>