/* @import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith'); FONT FROM GOOGLE!????*/
@import url("reset.css");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    text-align: center;
}

/* center header */
.header {
    display: grid;
    background-color: blue;
    grid-area: 1 / 2 / 2 / 3;
    grid-template-rows: 3;
    grid-template-columns: 3;
}

.tophead {
    grid-area: 2 / 1 / 2 / 2;
}

.nav {
    grid-area: 2 / 2 / 2 / 3;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 3;
}

.nav1 {
    grid-area: 2 / 1;
}

.nav2 {
    grid-area: 2 / 2;
}

.nav3 {
    grid-area: 2 / 3;
}

.nav4 {
    grid-area: 2 / 4;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: beige;
    grid-gap: 2em;
    grid-area: 3 / 2 / 3 /3;
}
.aboutcontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;   
    background-color: beige;
    grid-gap: 2em;
    grid-area: 3 / 2 / 3 /3;
}

.aboutcontent > div {
    border: 1px dotted black;
}

.about {
    grid-area: 1 / 2 / 1 / 3;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    
}

.about1 {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    
}
.about2 {
    grid-area: 2 / 2;
    display: grid;
    
}
.about3 {
    grid-area: 2 / 3;
    display: grid;
}



.footer {
    background-color: blueviolet;
    grid-area: 4 / 2 / 5/ 3;
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 3;
}

.footercenter {
    grid-area: 2 / 1;
}
